/* BODY AND GENERAL RULES */
body {
    background-color: var(--body-bg);
    font-family: "Spartan";
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
header,
main,
footer {
    box-sizing: border-box;
    width: 375px;
    padding: 26px 24px;
}

/* End body and general rules */

/* --- MAIN --- */

/* -- Main Top section - */

.main-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
}
/* >> Titolo */
.titolo__container {
    flex: 0 0 auto;
}
.titolo__container h1 {
    color: var(--text-color-inverse);
    font-size: 32px;
    letter-spacing: 0.02em;
}
/* >> Stile Flex Container */
.stile__container {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
}

/* Etichette */
.etichette__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-bottom: 8px;
    width: 100%;
}
.etichette__container p {
    color: var(--text-color-inverse);
    flex: 0 0 24px;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-align: center;
    transform: translateY(2px);
}
/* Toggle Flex Container */
.toggle__container {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle__container p {
    color: var(--text-color-inverse);
    font-size: 12px;
    letter-spacing: 0.09em;
    margin-right: 24px;
    transform: translateY(2px);
}
.toggle--theme {
    position: relative;
    background: var(--grigio-medio);
    overflow: hidden;
    padding: 4px;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.toggle--theme input[type="radio"] {
    display: none;
}
.toggle--theme label {
    display: block;
    flex: 0 0 18px;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
}
.toggle_option_slider {
    background-color: var(--toggle-slider-color);
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    border-radius: 50px;
    transition: all 0.4s ease;
}
#theme--dark:checked ~ .toggle_option_slider {
    left: 6px;
}
#theme--light:checked ~ .toggle_option_slider {
    left: calc(50% - 10px);
}
#theme--purple:checked ~ .toggle_option_slider {
    left: calc(100% - 24px);
}

/* End of Main top */

/* - Display - */
.display {
    background-color: var(--display-bg);
    border-radius: 8px;
    margin-bottom: 24px;
    min-height: 34px;
    padding: 26px 26px 28px 26px;
    text-align: right;
}
.display h2 {
    color: var(--text-color-inverse);
    font-size: 34px;
    letter-spacing: 0.03em;
}
/* - End of Display - */

/* - Key Pad - */
.pad__grid {
    background-color: var(--keypad-bg);
    border-radius: 4px;
    display: grid;
    grid-column-gap: 13px;
    grid-row-gap: 17px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: 24px;
}
.tasto {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: relative;
    text-align: center;
    z-index: 10;
}
.tasto:after {
    content: "";
    border-radius: 8px;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 4px;
    width: 100%;
    z-index: 1;
}
.tasto button {
    border: none;
    border-radius: 8px;
    color: var(--text-color);
    display: block;
    font-family: "Spartan";
    font-size: 28px;
    left: 0;
    letter-spacing: 0.085em;
    line-height: 60px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.tasto:active button {
    top: 4px;
}

/* Special buttons: del and reset */
.tasto--special button {
    font-size: 18px;
}

/* Key colors */
.tasto--base:after {
    background-color: var(--key-shadow);
}
.tasto--special:after {
    background-color: var(--key-shadow-special);
}
.tasto--uguale:after {
    background-color: var(--key-shadow-end);
}

.tasto--base button {
    background-color: var(--key-bg);
}
.tasto--special button {
    background-color: var(--key-bg-special);
    color: var(--text-color-inverse);
    font-size: 18px;
}
.tasto--uguale button {
    background-color: var(--key-bg-end);
    color: var(--text-color-inverse);
    font-size: 18px;
}

/* Numbers and text */
.tasto--special p,
.tasto--uguale p {
    color: #fff;
}
.tasto--large {
    grid-column: span 2;
}

/* - End of Key Pad - */

/* --- End of main --- */

/*  Footer section */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 38%, 73%);
}
/*  End of Footer section */

/*  MEDIA QUERIES */
@media only screen and (min-width: 1440px) {
    main, footer {
        width: 540px;
        padding: 0;
    }
    /* - Display - */
    .display {
        min-height: 48px;
        padding: 40px 36px 41px 36px;
        text-align: right;
    }
    .display h2 {
        font-size: 48px;
        color: var(--text-color-inverse);
        letter-spacing: 0.02em;
    }
    /* - End of Display - */
    .pad__grid {
        border-radius: 8px;
        grid-gap: 24px;
        padding: 32px;
    }
    /* footer */
    .attribution {
        margin-top: 1em;
    }
}

/*  END OF MEDIA QUERIES */
