/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fine reset */

body {
    background-color: var(--body-bg);
    font-family: "Spartan";
}
.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.calcolatore {
    box-sizing: border-box;
    width: 375px;
    padding: 26px 24px;
}

.display {
    background-color: var(--display-bg);
    border-radius: 8px;
    margin-bottom: 32px;
    min-height: 59px;
    padding: 26px;
    text-align: right;
}
.display h4 {
    color: var(--text-color-inverse);
    font-size: 48px;
    padding-top: 11px;
}

/* Grid tasti */
.pad__grid {
    background-color: var(--keypad-bg);
    border-radius: 4px;
    display: grid;
    grid-column-gap: 13px;
    grid-row-gap: 17px ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: 24px;
}

.tasto {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    height: 60px;
    position: relative;
    text-align: center;
    z-index: 10;
}
.tasto:after {
    content: "";
    border-radius: 8px;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 4px;
    width: 100%;
    z-index: 1;
}
.tasto p {
    border-radius: 8px;
    color: var(--text-color);    
    display: block;
    left: 0;
    line-height: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.tasto:active p {
    top: 4px;
}

.tasto--grigio p {
    padding: 19px 0 14px;
}


/* Colori tasti */
.tasto--base:after {
    background-color: var(--key-shadow);
}
.tasto--special:after {
    background-color: var(--key-shadow-special);
}
.tasto--end:after {
    background-color: var(--key-shadow-end);
}

.tasto--base p {
    background-color: var(--key-bg);
}
.tasto--special p {
    background-color: var(--key-bg-special);
    color: var(--text-color-inverse);
    font-size: 18px;
}
.tasto--end p {
    background-color: var(--key-bg-end);
    color:var(--text-color-inverse);
    font-size: 18px;
}
/* Numeri e testo tasti */
.tasto--special p,
.tasto--end p {
    color: #fff;
}
.tasto--large {
    grid-column: span 2;
}

/* Fine grid tasti */

/* TOGGLE */
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
}
/* Titolo */
.titolo__container {
    font-size: 12px;
    flex: 0 0 auto;
}
.titolo__container h3 {
    color: var(--text-color-inverse);
    font-size: 32px;
}
/* Stile Flex Container */
.stile__container {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
}

/* Etichette */
.etichette__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-bottom: 4px;
    width: 100%;
}
.etichette__container p {
    color: var(--text-color-inverse);
    flex: 0 0 24px;
    font-size: 12px;
    text-align: center;
    
}

/* Toggle Flex Container */
.toggle__container {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle__container p {
    color: var(--text-color-inverse);
    font-size: 12px;
    letter-spacing: 0.06em;
    margin-right: 8px;
}

.toggle--theme {
    position: relative;
    background: var(--grigio-medio);
    margin: 4px auto;
    overflow: hidden;
    padding: 2px 4px;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.toggle--theme input[type=radio]{
    display: none;
}

.toggle--theme label{
    display: block;
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    margin: 3px 3px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
}
.toggle_option_slider {
    background-color: var(--toggle-slider-color);
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    border-radius: 50px;
    transition: all .4s ease;
}



#theme--dark:checked ~ .toggle_option_slider {
    left: 6px;
}
#theme--light:checked ~ .toggle_option_slider {
    left: calc(50% - 10px);
}
#theme--purple:checked ~ .toggle_option_slider {
    left: calc(100% - 24px);
}

@media only screen and (min-width: 1440px) {
    .calcolatore {
        width: 588px;
    }
    .pad__grid {
        border-radius: 8px;
        grid-gap: 25px;
        padding: 30px;
    }    
} 

